.Page {
    text-align: center;
}
.Name {
    color: lightblue;
}


.MainNav {
    background-color: orange;
    align-items: center;
}
.NavList {
    display: flex;
    list-style: none;
    gap: 200px;
    justify-content: center;
}
.TabText {
    font-size: 50px;
}